/* Navbar Section */
header {
    text-align: center;
    background-color: dodgerblue;
}
    /* Next 4 rules Copied from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_fixed_menu */
    /* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: dodgerblue;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 100;
}

    /* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    /* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: dodgerblue;
}

    /* Main content */
.main {
    margin-top: 100px; /* Add a top margin to avoid content overlay */
}

:target{
    padding-top:5rem; /* = to height of navbar */
    margin-top:-5rem;
}



/* Picture with Text Section */

/* Working Experience Section */
.container {
    padding: 30px;
}

/* Portfolio Section */

/* Projects Section */
.projects {
    background-color: dodgerblue;
}

/* About Me Section */

/* My Contact Info Section */
.myContacts {
    background-color: dodgerblue;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/* Visitor Contact Section */

/* reCAPTCHA */
